<style>
  :host {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 14px;
        color: #333;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>

<h1>Homework #2 - By Eric Fleming</h1>
<span>{{ title }} app is running!</span><br>
<app-my-image></app-my-image>
<app-my-button></app-my-button>
<h3>Quotes from the movie</h3>
<app-messages-array></app-messages-array>
<app-user></app-user>

<router-outlet></router-outlet>